.hero-section {
    background-color: #ffffff;
    padding: 60px 0;
}
.service-card {
    display: flex;
    text-align: center;
    padding: 20px;
    transition: background-color 350ms ease-in-out;
    height: 100%;
    margin-bottom: 10px;
}
.service-card:hover {
    background-color: #4097ff;
}
.service-card img {
    flex-grow: 1;
    height: 250px;
    object-fit: contain;
}
